<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatMarchenkoIlya.styles.css" asp-append-version="true" />
</head>
@using ChatMarchenkoIlya.Services
@using ChatMarchenkoIlya.Controllers
@using ChatMarchenkoIlya.Entitys
@using ChatMarchenkoIlya.Data
<body>

    <header class="header-style" >
        <nav>   
                <div id="container">
                    <div id="leftThing">
                        <a href="/"><img src="/img/ReenditLogo.png" height="50" /></a>
                    </div>
                    <div id="content">
                        
                    </div>
                    <div id="rightThing" style="text-align: center; padding-top:10px;">
                    <a href="/"><img src="/img/usersimg/users.png" height="25" /></a>                    
                    @{
                        UserService us = new();
                        
                                        <h8 style="color:azure">@us.GetUser(Model[1]).Name</h8>
                        
                    }
                    </div>
                </div>
        </nav>        
    </header>
    <div class="container">        
        <main role="main" class="pb-3">
            @{
                try{
                    //if (Model[2] != null)
                    //{
                    //            <h1>@Model[2]</h1>
                    //}
                }
                catch
                {

                }                            
            }            
            @RenderBody()
        </main>
        
    </div>
    <footer class="border-top footer text-light" style="position:absolute;">
        <div id="container">

            <div id="leftThing">
                <a class="nav-link" style="color:#ab68a8;margin-top:3%;" href="/CreateChat?UserId=@Model[1]"> Создать Чат </a>
            </div>

            <div id="content" style="text-align:center;">
                <a class="nav-link" style="color:#ab68a8;margin-top:3%;" href="/SelectChekChat?UserId=@Model[1]">Добавить юзера в чат</a>
            </div>

            <div id="rightThing">
                <a class="nav-link" style="color:#ab68a8;margin-top:3%;" >Выйти из чата.</a>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>