@{
    ViewData["Title"] = "Edit";
}
<h3>Редактирование сообщения.</h3>

<div class="input-div">
    <form action="~/EditMessage" method="get">
        <input id="textinput" style="width:60%;height:150px;background:#334;" type="text" name="Text" value="@Model[4]" />
        <input id="Chatid" style="display:none" type="text" name="ChatId" value=@Model[5] />
        <input id="Userid" style="display:none" type="text" name="UserId" value=@Model[1] />
        <input id="msgid" style="display:none" type="text" name="MsgId" value=@Model[3] />
        <button type="submit" style="background:#333;">
            <img src="/img/Seend.png" height="25" />
        </button>
    </form>
</div>
