html {
    font-size: 14px;
    background: #333;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#leftThing {
    width: 25%;
    text-align: center;
}

#content {
    width: 50%;
    text-align:center;
}

#rightThing {
    width: 25%;
    text-align: center;
}
div.container {
    background: #333; 
    color: #fc0; 
}

nav.navbar {
    background: #333; 
}

button.TestButton {
    background: #A96FAB; 
    
}


html {
    position: relative;
    min-height: 100%;
    background: #333;
}

body {
    margin-bottom: 60px;
    background: #333;
    text-align: center;
}