html {
    font-size: 14px;
    background: #333;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#leftThing {
    width: 25%;
    text-align: center;
}

#content {
    width: 50%;
    text-align:center;
    margin: -11,25px;
}

#rightThing {
    width: 25%;
    text-align: center;
}
div.container {
    background: #333; 
    color: #fc0; 
}

nav.navbar {
    background: #333; 
}

button.TestButton {
    background: #A96FAB; 
    
}

html {
    position: relative;
    min-height: 100%;
    background: #333;
}
header.header-style{
    border-bottom:groove;
    padding-top:1em;
    padding-bottom: 1em;
}
body {
    margin-bottom: 60px;
    background: #333;
}
div.MyMessage {
    float: right;
    height: 50px;
    width: 400px;
    position: relative;
    left:60%;
    
}
div.MyMessage {
    
    height: 50px;
    width: 400px;
    left:70%;
    position:relative;
}



div.user-message {
    width: 80%;
    scroll-behavior: auto;
    word-wrap: break-word;
}
div.input-div {
    
    position: absolute;   
    
}